.recover-password {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.recover-form {
    display: flex;
    flex-direction: column;
    width: 27vw;
    padding: 2rem;

}

.p-input-icon-left .p-inputtext {
    padding-left: 2.5rem;
    width: 100%;
}

.p-input-icon-left > .pi {
    left: 1rem;
    font-size: 1rem;
}

form button{
    margin-top: 1rem;
}