.reset-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-color);
}

.reset-password form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 8px;
}

.reset-password h1 {
    text-align: center;
    color: white;
}

.reset-password form button{
    margin-top: 1rem;
}

.reset-password .reset-button {
    background-color: var(--blue-600);
    border: 1px solid var(--blue-600);
}