.reporte {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0rem 4rem 2rem 2rem;
}

.reporte-buscador {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.reporte-table {
    border: 1px solid #f0f0f0;
}

.reporte-table .p-datatable-thead > tr > th {
    background: var(--surface-b);
    color: var(--surface-700);
    font-weight: 600;
    border: none;
}

.reporte-table .p-datatable-tbody > tr > td {
  border: none;
  padding: 15px;
  border-bottom: 1px solid #f0f0f0;
}

.reporte-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 3rem 0 1rem;
    color: rgb(175, 175, 175);
}

.reporte-footer .monto {
    font-size: 0.8rem;
    font-weight: 400;
}

.reporte-footer .adelanto-saldo {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    width: 9rem;
    color: var(--surface-500)
}

.reporte-footer .adelanto-saldo div {
    display: flex;
    justify-content: space-between;
}

