.tarifario {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 0rem 4rem 2rem 2rem;
}

.tarifario-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;  
    margin-bottom: 1rem;
    cursor: pointer; 
}

.header-icon div {
    font-size: 1.2rem;
}

.proveedor-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}



