.itinerario {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0rem 4rem 2rem 2rem;
}

.itinerario-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.itinerario-search {
    margin-bottom: 2rem;
}

.itinerario-table .p-datatable-thead > tr > th {
  background: #1976d2;
  color: #ffffff;
  font-weight: normal;
  border: none;
}

.itinerario-table .p-datatable-tbody > tr > td {
  border: none;
}

.itinerario-table .p-datatable-tbody > tr:nth-child(odd) > td {
  background: #fff;
}

.itinerario-table .p-datatable-tbody > tr:nth-child(even) > td {
  background: #e3f2fd;
}

.itinerario-footer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    color: rgb(175, 175, 175);
}
