body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --mtg-primary-color: #051c2c;
  --mtg-secondary-color: #ffffff;
  --mtg-primary-500: #0c293d;
  --mtg-primary-600: #194766;
  --mtg-primary-700: #5a8daf;
  --mtg-primary-800: rgb(194, 194, 218);
  --mtg-primary-900: #ececf7;
}



