.titulo-izquierda {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

}

.titulo-izquierda .izquierda {
    display: flex;
    flex-direction: column;
    min-width: 49vw;
    max-width: 50vw;
    height: 100%;
    padding: 3rem;
    border-right: 3px dotted rgb(230, 230, 230);
}


.titulo-izquierda .izquierda .titulo {
    font-size: 2rem;
    margin-left: 1.5rem;
}

.titulo-izquierda .izquierda .contenido {
    background-color: var(--blue-100);
    padding: 2rem;
    margin-top: 1rem;
    border-radius: 10px;
}

.titulo-izquierda .izquierda .titulo-container {
    display: flex;
    flex-direction: row;
}

.titulo-izquierda .izquierda .icono-editar {
    position: relative;
    color: var(--surface-400);
    cursor: pointer;
}

.titulo-izquierda .izquierda .contenido-container .icono-editar {
    left: 102%;
    top: -75%;
}

.titulo-izquierda .izquierda .titulo-container .icono-editar {
    top: 15px;
    left: 15px;
}

.titulo-izquierda .izquierda .icono-imagen {
    position: relative;
    left: 50%;
    top: 2rem;
    color: var(--surface-400);
    cursor: pointer;
}


.titulo-izquierda .imagen {
    position: relative;
    min-width: 49vw;
    max-width: 50vw;
    height: 100vh;
    overflow: hidden;
}

.titulo-izquierda .imagen::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--bg-portada-izquierda-imagen);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    filter: brightness(1);
    z-index: -1;
}

.titulo-izquierda .izquierda .contenido-imagen {
    position: relative;
    width: 100%;
    height: 35vh;
    overflow: hidden;
}

.titulo-izquierda .izquierda .contenido-imagen::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--bg-portada-contenido-izquierda-imagen);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    filter: brightness(1);
    z-index: -1;
}

.titulo-izquierda .imagen .icono-imagen {
    position: relative;
    top: 50%;
    left: 50%;
    color: var(--surface-400);
    cursor: pointer;
}

.editor-izquierda.editor-container {
    position: absolute;
    top: 10%;
    left: 20%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.5rem;
    background-color: #ffffff;
}

.editor-izquierda.editor-container > div{
    width: 25rem;
    min-height: 12rem;
    max-width: 40rem;
    max-height: 20rem;
    overflow-y: auto;
}

.editor-izquierda.editor-container .button-container {
    max-width: 100%;
    min-height: 3rem;
}

.titulo-izquierda .titulo p,
.titulo-izquierda .contenido p {
    margin: 0;
}