.datos-viaje-modal {
    background-color: white;
    border-radius: 8px;
    padding: 0rem 2rem 2rem 2rem;
    height: 80vh;
    width: 35vw;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.datos-viaje-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.datos-viaje-modal input {
    width: 100%;
}

.datos-viaje-modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.datos-viaje-modal-buttons button {
    padding: 10px 20px;
    width: 35%;
    cursor: pointer;
}

.datos-viaje-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.datos-viaje-modal-dates, .datos-viaje-modal-cantidades .p-float-label input {
    width: 100%;
}

.datos-viaje-modal-dates, .datos-viaje-modal-cantidades {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.datos-viaje-modal .comentario textarea {
    min-height: 6rem;
    min-width: 100%;
    resize: none;
}

