.contact-modal {
    background-color: white;
    border-radius: 8px;
    padding: 1rem 3rem 2rem 3rem;
    height: 60vh;
    width: 30vw;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-modal input,
.contact-modal .p-dropdown {
    width: 100%;
}

.contact-modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.contact-modal-buttons button {
    padding: 10px 20px;
    width: 35%;
    cursor: pointer;
}

.contact-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}